
@{
    ViewData["Title"] = "BaiTap2";
}
@model SanPhamViewModel
<h1>BaiTap2</h1>
<head>Sản Phẩm Chi Tiết </head>
<body>
    <h1>@Model.TenSanPham</h1>
    <p>Price:@Model.Price.ToString("C", new System.Globalization.CultureInfo("vi-VN"))</p>
    <p>MoTaSanPham:@Model.MoTaSanPham</p>
    <img src="@Model.ImageUrl" alt="@Model.TenSanPham" style="width:300px;height:auto;" />
</body>
