
@{
    ViewData["Title"] = "Index";
}

﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm ShuShi SalMon</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Lê Thành Duy</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>002</td>
                    <td>Lê Thị Kim Hà</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>003</td>
                    <td>Nguyễn Trọng Tín</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>004</td>
                    <td>Phan Minh Trường</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; m0nKey - @DateTime.Now.Year</p>
</footer>

